<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta
      name="Description"
      content="mini project for MVC express-handlebars"
    />
    <!-- no need to use /public  -->
    <link rel="stylesheet" href="/darkly/bootstrap.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
    />
    <title>MVC mini-Project: Crowd Funder</title>
  </head>

  <style>
    .mini {
      width: 100%;
      margin: auto;
      max-width: 736px;
      padding: 4px;
    }
    .text-reg {
      font-size: 1.0rem;
    }
    .text-xl {
      font-size: 1.5rem;
    }
    .text-2xl {
      font-size: 2rem;
    }
    .rounded-xl {
      border-radius: 0.5rem;
    }
  </style>

  <body>
    <header>
      <nav class="navbar navbar-expand navbar-dark bg-primary py-0 my-0">
        <div class="nav navbar-nav align-items-center">
          <a
            class="navbar-brand"
            href="https://github.com/attila5287/mvcprofunder"
          >
            <img
              alt="@attila5287"
              src="https://avatars1.githubusercontent.com/u/42498753?s=60&amp;u=739973fd70454aa533c67bccf17b6aeddcc6361f&amp;v=4"
              class="rounded-xl my-0 py-0"
              width="36"
              height="36"
            />
          </a>
          <a class="nav-item nav-link" href="https://mvcprofunder.herokuapp.com">
            <i class="text-2xl fas fa-hand-holding-usd"></i>
            <b>
              <i>
              MVC Pro Funder
              </i>
            </b>
            </a
          >
          <a class="nav-item nav-link" href="/">
            <i class="fas fa-home"></i>
            Projects</a
          >
          <a class="nav-item nav-link" href="/login">
            <i class="fas fa-sign-in-alt"></i>
            Login</a
          >
          <a class="nav-item nav-link" href="/logout">
            <i class="fas fa-sign-out-alt"></i>
            Logout</a
          >
          <a class="nav-item nav-link" href="/profile">
            <i class="fas fa-users-cog"></i>
            Profile</a
          >
        </div>
      </nav>
    </header>

    <main class="mini">
      
      {{{ body }}}
      
      </main>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
  </body>
</html>
