<form method="POST" action="/api/users" class="text-primary text-xl font-italic">
  <div class="form-group">
    <h1>
      <i class="title fas fa-user-plus bg-primary text-dark p-1 rounded-xl"></i>
      <u>
        Sign Up
      </u>
    </h1>
  </div>
  <div class="form-group">
    <label for="name">
      <i class="fas fa-user"></i>
      Name
    </label>
    <input class="form-control form-control-lg form-control-dark" type="text" name="name" placeholder="Type username here"  />
  </div>

  <div class="form-group">
    <label for="email">
      <i class="fas fa-envelope"></i>
      Email
    </label>
    <input class="form-control form-control-lg form-control-dark" type="email" name="email" placeholder="Type email here..."/>
  </div>
  <div class="form-group">
    <label for="password">
      <i class="fas fa-key"></i>
      Password
    </label>
    <input class="form-control form-control-lg form-control-dark" type="password" name="password" placeholder="Type password here..."/>
  </div>
  <div class="form-group">
    <input class="btn btn-primary btn-block btn-lg" type="submit"  value="Create account"/>
  </div>

</form>

<form method="POST" action="/api/projects" class="text-primary text-xl font-italic">
    <div class="form-group">
        <h1>
            <i class="title fas fa-sign-in-alt bg-primary text-dark p-1 rounded-xl"></i>
            <u>
                Create Project
            </u>
        </h1>
    </div>
    <div class="form-group">
        <label for="name">Name</label>
        <input id="name" class="form-control" type="text" name="name">
    </div>
<div class="form-group">
    <label for="description">Description</label>
    <input id="description" class="form-control" type="text" name="description">
</div>
<div class="form-group">
    <label for="needed_funding">Needed Funding</label>
    <input id="needed_funding" class="form-control" type="number" name="needed_funding">
</div>

<div class="form-group">
    <label for="collected_funding">Collected Funding</label>
    <input id="collected_funding" class="form-control" type="number" name="collected_funding">
</div>
<div class="form-group">
    <input class="btn btn-primary btn-block btn-lg" type="submit" value="Create project" />
</div>


</form>

<form method="POST" action="/api/projects" class="text-primary text-xl font-italic">
    <div class="form-group">
        <h1>
            <i class="title fas fa-sign-in-alt bg-primary text-dark p-1 rounded-xl"></i>
            <u>
                Create Project
            </u>
        </h1>
    </div>
    <div class="form-group">
        <label for="name">Name</label>
        <input id="name" class="form-control" type="text" name="name">
    </div>
<div class="form-group">
    <label for="description">Description</label>
    <input id="description" class="form-control" type="text" name="description">
</div>
<div class="form-group">
    <label for="needed_funding">Needed Funding</label>
    <input id="needed_funding" class="form-control" type="number" name="needed_funding">
</div>

<div class="form-group">
    <label for="collected_funding">Collected Funding</label>
    <input id="collected_funding" class="form-control" type="number" name="collected_funding">
</div>
<div class="form-group">
    <input class="btn btn-primary btn-block btn-lg" type="submit" value="Create project" />
</div>


</form>
<form
  method="POST"
  action="/api/projects"
  class="text-primary text-xl font-italic"
>
  <div class="form-group">
    <h1>
      <i
        class="title fas fa-sign-in-alt bg-primary text-dark p-1 rounded-xl"
      ></i>
      <u>
        Create Project
      </u>
    </h1>
  </div>
  <div class="form-group">
    <label for="name">
      Name
    </label>
    <input id="name" class="form-control" type="text" name="name" />
  </div>
  <div class="form-group">
    <label for="description">
      Description
    </label>
    <input
      id="description"
      class="form-control"
      type="text"
      name="description"
    />
  </div>
  <div class="form-group">
    <label for="needed_funding">
      Needed Funding
    </label>
    <input
      id="needed_funding"
      class="form-control"
      type="number"
      name="needed_funding"
    />
  </div>
  <div class="form-group">
    <label for="collected_funding">
      Collected Funding
    </label>
    <input
      id="collected_funding"
      class="form-control"
      type="number"
      name="collected_funding"
    />
  </div>
  <div class="form-group">
    <input
      class="btn btn-primary btn-block btn-lg"
      type="submit"
      value="Create project"
    />
  </div>
</form>

