<form class="signup-form text-primary text-xl font-italic p-5 mx-5">
  <div class="form-group">
    <h1>
      <i class="title fas fa-user-plus bg-primary text-dark p-1 rounded-xl"></i>
      <u>
        Sign Up
      </u>
    </h1>
  </div>
  <div class="form-group">
    <label for="name-signup">
      <i class="fas fa-user"></i>
      Name
    </label>
    <input class="form-control form-control-lg form-control-dark" type="text" name="name" id="name-signup" placeholder="Type username here"  />
  </div>

  <div class="form-group">
    <label for="email-signup">
      <i class="fas fa-envelope"></i>
      Email
    </label>
    <input class="form-control form-control-lg form-control-dark" type="email" name="email" id="email-signup" placeholder="Type email here..."/>
  </div>
  <div class="form-group">
    <label for="password-signup">
      <i class="fas fa-key"></i>
      Password
    </label>
    <input class="form-control form-control-lg form-control-dark" type="password" name="password" id="password-signup" placeholder="Type password here..."/>
  </div>
  <div class="form-group">
    <input class="btn btn-primary btn-block btn-lg" type="submit"  value="Create account"/>
  </div>

</form>
<script src="/js/signup.js"></script>
